{% block content %}
    <div class="page-wrapper">
        <div class="main">
            <div class="main-inner">
                <div class="container">
                    <div class="content">
                        <div class="caution">
                            <h1>DESOLE</h1>
                            <h2>{{ error.msg }}</h2>
                        </div><!-- /.page-header -->
                    </div><!-- /.content -->
                </div><!-- /.container -->
            </div><!-- /.main-inner -->
        </div><!-- /.main -->
    </div><!-- /.page-wrapper -->
{% endblock %}