<div class="hero-video">
    <video preload="metadata" autoplay="" muted="" loop="">
        <source src="http://preview.byaviators.com/template/superlist/assets/img/tmp/video.mp4" type="video/mp4">
    </video>

    <div class="video-overlay"></div>

    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 col-xs-12 col-xs-offset-0">

            </div><!-- /.col-* -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</div><!-- /.hero-video -->