{% extends 'base.html.twig' %}

{% block title %}Prestataire Area{% endblock %}

{% block body %}
    {% block container %}
        <div class="main-inner">
        <div class="container">
        <div class="content">
            <div class="row">
                {% block details %}

                {% endblock %}
            </div>
        </div>
        </div>
        </div>
    {% endblock %}
{% endblock %}