{% extends 'base.html.twig' %}
{% block body %}
    {% block container %}
        <div class="container">
            <div class="row">
                <div class="col-md-10">
                    <h3>Just a selected list of Prestataires </h3>
                    <hr>
                    {% include("/prestataire/list/prestaList.html.twig") %}

                    <hr>
                </div>
            </div>
        </div>

    {% endblock %}
{% endblock %}
