{% extends 'base.html.twig' %}

{% block body %}
    {% block container %}
        <div class="container">
            <div class="row">
                <div class="col-md-10">
                    <h2> List de services par prestaire </h2>

                    {% for ser in services %}{
                        <li>ser</li>
                        }
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endblock %}
{% endblock %}
