{% extends 'base.html.twig' %}
{% block body %}
{% block container %}
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <h4>{{ service.name }}</h4>
                <hr>
                <ul>
                   {% include('/service/details/serviceDetails.html.twig') %} include
                    {% for serv in service %}
                        <li><a href="{{ path('services_details', {'id':serv.id}) }}"> {{ serv.description }} )
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
{% endblock %}