<div class="col-sm-12">
    <h2 id="reviews">Services cetegories by Prestaire</h2>
    <div class="posts posts-condensed">

        <table id="services" class="table table-striped">
            <tr>
                <th>Image</th>
                <th>Name</th>
                <th>Description</th>
            </tr>
            {% if prestataire.service is empty %}
                <tr>
                    <td class="">no service found for this {{ prestataire }}</td>
                </tr>
            {% else %}
                {% for serv in prestataire.services %}
                    <tr>
                        <td>
                            <div class="">
                                <img src='{{ service.image }}' style="height: 40px; width: 40px;">
                            </div><!-- /.user-image -->
                        </td>
                        <td>{{ service.nomcat }}</td>
                        <td>{{ service.description }}</td>
                    </tr>
                {% endfor %}
            {% endif %}
        </table>

    </div>
</div>