<div class="background-white p30 mb30">
    <h3 class="page-title">Attributes</h3>

    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <select name="property">
                    <option>Property Type</option>
                    <option>Apartment</option>
                    <option>Condo</option>
                    <option>House</option>
                    <option>Villa</option>
                </select>
            </div><!-- /.form-group -->

            <div class="form-group">
                <select name="contract">
                    <option>Contract</option>
                    <option>Rent</option>
                    <option>Sale</option>
                </select>
            </div><!-- /.form-group -->

            <div class="form-group">
                <select name="location">
                    <option>Location</option>
                    <option>Kensal</option>
                    <option>Braymer</option>
                    <option>Horton Bay</option>
                    <option>Laurel Run</option>
                    <option>Estherville</option>
                    <option>Millhousen</option>
                    <option>Allegan</option>
                    <option>Florala</option>
                    <option>Dundarrach</option>
                    <option>Neligh</option>
                    <option>Roseboro</option>
                    <option>Mount Pleasant</option>
                    <option>Moro</option>
                    <option>Strathmoor Village</option>
                    <option>Mabton</option>
                    <option>Loup City</option>
                    <option>Wolverine</option>
                    <option>San Leandro</option>
                    <option>Dunwoody</option>
                    <option>Battle Ground</option>
                    <option>Hanson</option>
                    <option>Reedley</option>
                    <option>Bayshore</option>
                    <option>Tupelo</option>
                    <option>Lone Pine</option>
                </select>
            </div><!-- /.form-group -->

            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-dollar"></i></span>
                <input class="form-control" type="text" placeholder="Price">
            </div><!-- /.form-group -->
        </div><!-- /.col-* -->

        <div class="col-sm-6">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-building-o"></i></span>
                <input class="form-control" type="text" placeholder="Address">
            </div><!-- /.form-group -->

            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-map-o"></i></span>
                <input class="form-control" type="text" placeholder="City">
            </div><!-- /.form-group -->

            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                <input class="form-control" type="text" placeholder="Phone">
            </div><!-- /.form-group -->

            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-at"></i></span>
                <input class="form-control" type="text" placeholder="E-mail">
            </div><!-- /.form-group -->
        </div><!-- /.col-* -->
    </div><!-- /.row -->
</div><!-- /.box -->
