{% extends "base.html.twig" %}

{% block body %}
    {% block container %}
        <div class="container">
            <div class="content">
                {% block details %}

                {% endblock %}
            </div>
        </div>
    {% endblock %}
{% endblock %}

